<?xml version="1.0"?>
<config>
    <modules>
        <PAJ_DevVersion>
             <version>0.1.0</version>
        </PAJ_DevVersion>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <devversion>
                <class>PAJ_DevVersion_Model</class>
                <resourceModel>devversion_entity</resourceModel>
            </devversion>
            <devversion_entity>
                <class>PAJ_DevVersion_Model_Entity</class>
                <entities>
                </entities>
            </devversion_entity>
        </models>
        <blocks>
            <devversion>
                <class>PAJ_DevVersion_Block</class>
            </devversion>
        </blocks>
        <helpers>
            <devversion>
                <class>PAJ_DevVersion_Helper</class>
            </devversion>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <devversion>
                    <file>paj/devversion/devversion.xml</file>
                </devversion>
            </updates>
        </layout>
		<events>
			<adminhtml_cache_refresh_type>
				<observers>
					<paj_devversion_model_observer>
						<type>singleton</type>
							<class>PAJ_DevVersion_Model_Observer</class>
							<method>adminhtml_cache_refresh_type</method>
					</paj_devversion_model_observer>
				</observers>
			</adminhtml_cache_refresh_type>
		</events>		
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate>
            <modules>
                <PAJ_DevVersion>
                    <files>
                        <default>PAJ_DevVersion.csv</default>
                    </files>
                </PAJ_DevVersion>
            </modules>
        </translate>
        <layout></layout>
    </frontend>
    <default>
        <devversion>
        </devversion>
    </default>
</config>